# `.env` を暗号化して `.env.enc` を作成する場合

# 暗号化
# sops encrypt --input-type dotenv --output-type dotenv --filename-override .enc.env .env > .enc.env

# 確認
# sops decrypt --input-type dotenv --output-type dotenv .enc.env
# 元ファイルを削除
# rm .env

# 復号
# `.dec.env`という名前で復号する場合
# sops decrypt --input-type dotenv --output-type dotenv .enc.env > .dec.env

# 編集
# `sops edit <file>` で暗号化ファイルを一時的に復号してエディタで開き、保存後に自動で再暗号化
# sops edit --input-type dotenv --output-type dotenv .enc.env

# 更新
# 公開鍵の追加や削除を行う場合
# sops updatekeys .enc.env
# sops rotate -i .enc.env

VITE_API_BASE_URL=https://api.example.com
API_SECRET_KEY=replace-me

